.featured {
  display: grid;
  gap: 1.75rem;

  &_image-container {
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &_header {
    @include inter(800);
    color: $darkBlue;
    font-size: 2.75rem;
    line-height: 1;
  }

  &_preview {
    display: grid;
    gap: 2rem;

    &_button {
      @include inter(700);
      background-color: $red;
      color: $white;
      border: none;
      padding: 1rem 2.25rem;
      letter-spacing: 0.25rem;
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      transition-duration: 200ms;

      &:hover {
        background-color: $darkBlue;
      }
    }
  }
}

@media (min-width: 769px) {
  .featured {
    grid-template-columns: 1fr 1fr;

    &_image-container {
      grid-column: span 2;
    }

    &_header {
      font-size: 4rem;
    }
  }
}