.nav {
  background: $white;
  width: 100%;
  position: fixed;
  top: 0;
  
  &-main {
    @include center-row;
    justify-content: space-between;
    padding: 2rem 1rem;

    .menu-icon {
      cursor: pointer;
    }

    .nav-items {
      display: none;
    }
  }

  &-mobile-open {
    color: $darkBlue;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    &-overlay {
      background: $transparentDarkBlue;
      z-index: 1;
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
    }

    &-main {
      z-index: 2;
      position: absolute;
      right: 0;
      width: 70%;
      height: 100vh;
      background: $white;
      display: flex;
      flex-direction: column;
      
      .close-menu-icon {
        align-self: flex-end;
        margin: 2.5rem 2rem;
        cursor: pointer;
      }

      .nav-items {
        @include inter(400);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem;
        font-size: 1.5rem;
      }
    }
  }

  .nav-item {
    cursor: pointer;
    width: fit-content;

    &:hover {
      color: $orange;
    }
    &:active {
      color: $darkBlue;
    }
  }
}

@media (min-width: 769px) {
  .nav {
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 0 0 0;
    
    &-main {
      width: 100%;
      max-width: 75rem;
      
      .menu-icon {
        display: none;
      }

      .nav-items {
        @include center-row;
        gap: 3rem;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(100%);
  }
}