.new {
  background-color: $darkBlue;
  padding: 1.75rem 1.75rem 0 1.75rem;

  &_header {
    @include inter(700);
    color: $orange;
    font-size: 2.5rem;
  }

  &_article-container {
    &_item {
      display: grid;
      gap: 0.75rem;
      padding: 2rem 0;

      &_header {
        @include inter(700);
        color: $white;
        font-size: 1.35rem;
        cursor: pointer;

        &:hover {
          color: $orange;
        }
      }

      &_preview {
        color: $greyishBlue;
      }
    }

    &_item:not(:last-child) {
      border-bottom: 1px solid $darkGreyishBlue;
    }
  }
}