.trending {
  display: grid;
  gap: 2rem;

  &_item {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 2fr;

    &_image-container {
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &_main {
      display: grid;
      justify-content: space-between;

      &_rank {
        color: $greyishBlue;
      }
      
      &_header {
        @include inter(800);
        color: $darkBlue;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .trending {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 2;
  }
}