@import "colors/colors.module.scss";
@import "fonts";
@import "helpers";
@import "components";

:root {
  @include inter;
  font-size: 15px;
  color: $darkGreyishBlue;
  
  body {
    margin: 0;

    .main-container {
      margin-top: 7rem;
    }
  }
}